<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Password Reset</title>
    <style>
      .code {
        font-weight: 700;
        font-size: 22px;
      }
    </style>
  </head>
  <body>
    <h1>You requested a password reset</h1>
    <hr />
    <br />
    <p>
      Click this
      <a href="http://localhost:3000/new-password/{{token}}">link</a> to set a
      new password.
    </p>

    <p>If you didn't initiate this action please ignore.</p>

    <br />
    <p>Best regards,</p>
    <p>Prompay Team</p>
    <hr />
    <p>Prompay, where the world learns to earn</p>
  </body>
</html>
