<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Problem Report</title>
    <style>
      body {
        font-size: 18px;
      }

      .code {
        font-weight: 700;
      }
    </style>
  </head>
  <body>
    <p>From user - {{firstName}} {{lastName}},</p>
    <p>Email - {{email}},</p>
    <p>Phone - {{phone}},</p>
    <p>Location - {{location}},</p>
    <p>Joined - {{joined}},</p>
    <hr />
    <br />
    <h1 style="text-align: center">Report Summary</h1>
    <br />
    <p style="margin-bottom: 10px; font-size: 25px">{{area}}</p>
    <p>{{details}}</p>

    <br />
    <p>Prompay User Report</p>
    <hr />
    <p>Prompay, where the world learns to earn</p>
  </body>
</html>
