<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Successful Password Reset</title>
    <style>
      body {
        font-size: 18px;
      }

      .code {
        font-weight: 700;
      }
    </style>
  </head>
  <body>
    <h1>Password Reset</h1>
    <hr />
    <br />
    <p>Dear {{lastName}}</p>
    <br />
    <p>You have successfuly reset your password.</p>
    <p>
      Go to
      <a href="https://www.theprompay.com/signin"
        >Prompay signin to continue earning.</a
      >
    </p>
    <br />
    <p>Kind regards,</p>
    <p>Prompay Team</p>
    <hr />
    <p>Prompay, where the world learns to earn</p>
  </body>
</html>
