<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Successful Verification</title>
    <style>
      body {
        font-size: 18px;
      }

      .code {
        font-weight: 700;
      }
    </style>
  </head>
  <body>
    <h1>Account verified</h1>
    <hr />
    <br />
    <p>Dear {{lastName}}</p>
    <br />
    <p>Thank you for signing up for our service!</p>
    <p>Your account has been successfuly verified.</p>
    <p>
      Go to
      <a href="https://www.theprompay.com/signin"
        >Prompay signin to start earning.</a
      >
    </p>
    <br />
    <p>Kind regards,</p>
    <p>Prompay Team</p>
    <hr />
    <p>Prompay, where the world learns to earn</p>
  </body>
</html>
